# ChatGPT用
OPENAI_API_KEY=


BATCH_API_KEY=super-secret-batch-key
BATCH_BASE_URL=http://nginx


DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=fairy_db
DB_USERNAME=user
DB_PASSWORD=password

# MySQLコンテナ初期化用
MYSQL_ROOT_PASSWORD=secret
MYSQL_DATABASE=fairy_db
MYSQL_USER=user
MYSQL_PASSWORD=password
