# ChatGPT用
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o
OPENAI_TIMEOUT=60


BATCH_API_KEY=super-secret-batch-key
BATCH_BASE_URL=https://nginx
BATCH_API_TIMEOUT=30
BATCH_SIZE=1
MAX_PER_RUN=200
SLEEP_LOOP_SECONDS=0.2


DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=fairy_db
DB_USERNAME=user
DB_PASSWORD=password

# MySQLコンテナ初期化用
MYSQL_ROOT_PASSWORD=secret
MYSQL_DATABASE=fairy_db
MYSQL_USER=user
MYSQL_PASSWORD=password
